.container {
	margin: auto;
	width: 50%;
	text-align: center;
}

h1 {
	margin-bottom: 50px;
}

form {
	display: inline-block;
	text-align: left;
}

label, input, textarea {
	display: block;
	margin-bottom: 10px;
}

input[type="submit"] {
	margin-top: 20px;
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
