body {
	background-color: #eee;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
}

h2 {
	margin-top: 0;
}

img {
	max-width: 10%;
	height: auto;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
